body {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  color: #000;
  background: #fff;
}

#main {
  margin: 30px auto;
}

a {
  white-space: normal;
  word-break: break-all;
  display: inline;
}

span,
p {
  color: #000;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

.text-success {
  color: #4caf50;
}

pre,
.text-monospace {
  font-family: "Space Mono", monospace;
}

.h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.var-dump {
  max-width: 100%;
  display: block;
  white-space: normal;
  word-break: break-all;
  max-height: 300px;
  overflow-y: auto;
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #000;
}

@media (min-width:1440px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1380px
  }
  .col-dump-label {
    min-width: 312px;
  }
}
